html {
  font-size: 14px;
  font-family: 'Inria Sans';
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(180deg, rgba(155, 28, 255, 0.00) 46.88%, rgba(117, 0, 208, 0.17) 88.02%);
}

.btn-primary{
    background-color:orchid;
    border-color:orchid;

}

    .btn-primary:hover {
        background-color: mediumorchid;
        border-color: orchid;
    }

.bookimg{
    border:outset;
    border-color:black;
    
}
    .bookimg:hover {
       
        border:hidden;
    }
.detailsimg {
    border: double;
    margin-bottom:20%;
}